*.dylib
*.dylib.dSYM
meta/
tags
target/
Cargo.lock
.cargo/
__pycache__/
*.pyc
*.so
python/exhash.data/scripts/*
!python/exhash.data/scripts/.gitkeep
*.pyd
.DS_Store
.env
.venv
*.egg-info/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.tox/
.coverage
coverage.xml
htmlcov/
build/
dist/
pip-wheel-metadata/
.cache/
